{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}


{{! The big featured header }}
<header class="main-header detail-page image-bg {{#if @blog.cover_image}}has-cover" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <a href="{{@blog.url}}" class="go-home-page" style="background-image:url({{#if @blog.logo}}{{@blog.logo}}{{else}}{{asset "/assets/go-home.png"}}{{/if}}")></a>

    <h1 class="page-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    <h2 class="page-description">{{@blog.description}}</h2>
    {{navigation}}
</header>


{{! The main content area on the homepage }}
<main id="content" class="content post-list" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
