{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header image-bg detail-page {{#if image}}has-cover" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <h1 class="page-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    <h2 class="page-description">{{@blog.description}}</h2>
    {{navigation}}
</header>


<main class="content" role="main">
    <article class="{{post_class}} single-post">

        <header class="post-header short-diver">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
            </section>
        </header>

        <section class="post-content short-diver">
            {{content}}
        </section>

        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

            {{#if image}}
            <div class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </div>
            {{/if}}

            <section class="author short-diver">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
            </section>

        {{/author}}


        </footer>

    </article>
</main>

<aside class="read-next">
    <h2 class="title">Read More</h2>
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2 title="{{title}}">{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
            <div class="white-mask"></div>
        </section>
    </a>{{/next_post}}{{#prev_post}}<a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2 title="{{title}}">{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
            <div class="white-mask"></div>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}
